{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={%static "css.css"%}>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description "content="the best restaurant in thika town">
    <title> NETFLIX </title>
    
</head>
<body>
   
     <header>
         <h1 class="font"> <span> NETFLIX</span></h1>
         <div class='left'>
            <a href="/login">login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/register">sign in</a>
         </div>   

    </header>
    <div class="container">
     <nav>
        
     </nav>
    <!-- <main>
        <section>
            
            <div class='content3'>
                <h2>cuts and fades</h2>
								<p>The art ,technique and creativity behind our cuts and fades is on on another level.</p>
                            </div>               
                <div class='image3'>
  
             <img src="static/erik-mclean-U-Vu_r6qyyU-unsplash.jpg" style="width:500px;height:300px">
                </div>
        </section>
       
           
        <section>
            
            <div class='content3'>
                <h2>Watch on your Tv</h2>
								<p>The art </p>
                            </div>               
                <div class='image3'>
  
             <img src="static/erik-mclean-U-Vu_r6qyyU-unsplash.jpg" style="width:500px;height:300px">
                </div>
        </section>
        <section>
            <div class='content3'>
                <h2>Enjoy from your phone</h2>
								<p>The art.</p>  
               </div>
                <div class='image3'>
                    <img src="static\rishabh-malhotra-83ypHTv6J2M-unsplash.jpg" style="width:500px;height:300px">
                </div>
           
            
        </section>
     </main> -->
     <footer>
         <p class="small">JUJA ,Netlix Co.-copyright 2022</p>
    
     </footer>
   </div>
    
</body>
</html>
